<mat-drawer-container style="height: 100%">
  <mat-drawer #drawer mode="over" position="end" style="padding: 15px">
    <div>
      <button mat-flat-button color="warn" (click)="signOut()">
        <mat-icon fontIcon="logout"></mat-icon>
        Sign Out
      </button>
    </div>
  </mat-drawer>

  <p>
    <mat-toolbar color="primary">
      <span>Task Whiz</span>
      <span class="example-spacer"></span>

      <button mat-icon-button (click)="drawer.toggle()" fxHide fxShow.lt-md>
        <mat-icon>menu</mat-icon>
      </button>

      <div class="example-button-row" fxHide fxShow.gt-sm>
        <button mat-flat-button color="warn" (click)="signOut()">
          <mat-icon fontIcon="logout"></mat-icon>
          Sign Out
        </button>
      </div>
    </mat-toolbar>
  </p>
</mat-drawer-container>
